.hierarchy_admin_sub_container {width: var(--main-content-size);max-width: 100%;align-self: center;padding: 0 var(--spacing-medium);display: flex;flex-flow: column;gap: var(--spacing-medium);}
.hierarchy_admin_tree_parent {pointer-events: none;margin: 0;padding: 0;}
.hierarchy_admin_tree_elem {background-color: var(--background2);color: var(--font-color);border-top: calc(4px * var(--fhd-vr)) solid transparent;border-bottom: calc(4px * var(--fhd-vr)) solid transparent;pointer-events: auto;cursor: grab;margin-bottom: var(--spacing-medium);display: flex;flex-flow: column nowrap;min-height: calc(35px * var(--fhd-vr));}
.hierarchy_admin_tree_elem > div {pointer-events: none;display: flex;gap: var(--spacing-medium);padding: 0 var(--spacing-medium);align-items: center;flex: 1;}
span.hierarchy_admin_tree_elem_name {order: 2;flex: 1 1 auto;pointer-events: none;min-width: calc(150px * var(--fhd-hr));}
.hierarchy_admin_tree_elem_edit {order: 3;pointer-events: auto;}
.hierarchy_admin_btn_del.item {pointer-events: auto;order: 0;}
.hierarchy_admin_subtree_parent {margin-top: calc(2px);}
.hierarchy_admin_tree_elem.insert_before {border-top: calc(4px * var(--fhd-vr)) solid var(--background4);}
.hierarchy_admin_tree_elem.insert_after {border-bottom: calc(4px * var(--fhd-vr)) solid var(--background4);}
.hierarchy_admin_tree_elem.insert_inside {background: var(--background4);color: var(--font-color-alt);}
.hierarchy_admin_btn_add_item {align-self: start;}
.hierarchy_admin_container_imgs {grid-column: 1/3;}
.hlp_window.hierarchy .module_title {width: 100%;text-align: center;border-bottom: var(--border);border-color: var(--color-detail);border-top: 0;}
.hlp_window.hierarchy {min-width: calc(var(--main-content-size) + (200px * var(--fhd-hr)));}
.module_container.hierarchy_admin_container_menu_admin {padding: 0;}
.hierarchy_admin_tree_elem:has(.hierarchy_admin_tree_elem:hover) {background: var(--background2);}
.hierarchy_admin_tree_elem:has(.hierarchy_admin_tree_elem:hover), .hierarchy_admin_tree_elem:has(.hierarchy_admin_subtree_parent:hover) {background: var(--background2);}
.hierarchy_admin_tree_elem:hover {background: var(--background3);}
.hierarchy_admin_tree_elem_duplicate {order: 2;pointer-events: auto;}
.hierarchy_admin_tree_elem_icon, .hierarchy_admin_tree_elem_image {order: 1;}
