body{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: arial;
}
#menu{
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:100%;
    overflow:auto;
    border-right:1px solid black;
    resize: both;
}
#coz{
  width: 244px;
}
#main{
    display:block;
    position:absolute;
    left:251px;
    top:0px;
    width:calc(100% - 692px);
    height:100%;
    overflow:auto;
    padding: 10px;
}
#documentation{
    display:block;
    position:absolute;
    right:0px;
    top:0px;
    width:400px;
    min-width:400px;
    max-width:600px;
    height:100%;
    overflow:auto;
    border-left:1px solid black;
    overflow:auto;
    padding: 10px;
}
.head{
    display:block;
    border:1px solid black;
    margin:2px;
    padding:2px;
}
.GET{
    display:block;
    border:1px solid green;
    margin:2px;
    margin-left:10px;
    padding:2px;
    background: #bdf5a5;
}
.PUT{
    display:block;
    border:1px solid #9b708b;
    margin:2px;
    margin-left:10px;
    padding:2px;
    background: #e5a5f5;
}
.POST{
    display:block;
    border:1px solid blue;
    margin:2px;
    margin-left:10px;
    padding:2px;
    background: #8ac9f8;
}
.DELETE{
    display:block;
    border:1px solid red;
    margin:2px;
    margin-left:10px;
    padding:2px;
    background: #f28994;
}
.current{
 font-size: 16px;
 border:2px solid red;
}
ul{
list-style-type: none;
padding: 0;
}
a{
color:black;
text-decoration:none;
display:block;
width:100%;
}
.main_title{
    font-size:18px;
    display:block;
    border:1px solid black;
    padding:4px;
}
.main_description, .doc_begin{
    display:block;
    border:1px solid black;
    padding:4px;
}
.param_name{
    font-weight:bold;
}

.error_label {
    font-weight: bold;
}