.module_container.uitranslate_admin_container {align-items: normal;}
.le_main .uitranslate_admin_title.module_title {width: unset;margin: unset;}
.le_main .uitranslate_admin_form_select.form_select {width: unset;margin: unset;}
